// VARIABLES

// Colores:

$gris_oscuro: #383838;
$gris_claro: #505050;
$blanco: #ffffff;
$naranja: #f7941e;

//Fuentes

$condensada:'Roboto Condensed', sans-serif;
$clasica: 'Roboto', sans-serif;

//Tamaño de fuentes

$nav_size: 1.3rem;

//Grosor de fuentes

$nav_weight: 300;

//Alturas

$altura_header: 12vh;
$altura_portada: 100vh;