// VARIABLES

// Colores:

$gris_oscuro: #383838;
$gris_claro: #505050;
$blanco: #ffffff;
$naranja: #f7941e;

//Fuentes

$condensada:'Roboto Condensed', sans-serif;
$clasica: 'Roboto', sans-serif;

//Tamaño de fuentes

// En web:

$tamano_nav: 1.5rem;
$tamano_portada_titulo: 7.3rem;
$tamano_portada_subtitulo: 1.5rem;
$tamano_portada_boton: 1.8rem;
$tamano_servicios_h2: 2rem;
$tamano_servicios_h3: 6.5rem;
$tamano_servicios_h4: 4rem;

//Grosor de fuentes

// En web:

$grosor_nav: 300;
$grosor_portada_titulo: 700;
$grosor_portada_subtitulo:300;
$grosor_servicios_h2:300;
$grosor_servicios_h3:700;
$grosor_servicios_h4:700;

//Alturas

// En web:

$altura_header: 12vh;
$altura_portada: 100vh;

//Paddings

// En web:

$pad_header: 12vh;