@import '../variables';

.logo {
    width: 160px;
}

header {
    background: $gris_oscuro;
    height: 12vh;

    .navegacion {
        height: 100%;
        margin-left: 30px;
        gap: 20px;
    
        &__link {
            font-family:$condensada;
            font-size: $nav_size;
            font-weight: $nav_weight;
            color: $blanco;
            text-decoration: none;
        }

        &__link:hover {
            color: $naranja;
        }
    }
}
