@import '../variables';

.portada {
    height: $altura_portada;
    background-color: $gris_oscuro;
    padding-top: $pad_header;
    font-family: $condensada;

    &__h1 {
        font-size: $tamano_portada_titulo;
        color: $blanco;
        font-weight: $grosor_portada_titulo;
        
        &__span {
            color: $naranja;
        }
    }
    &__p {
        color: $blanco;
        font-size: $tamano_portada_subtitulo;
        font-weight: $grosor_portada_subtitulo;
        margin-bottom: 0;
    }
    &__boton {
        border: 2px solid $naranja;
        border-radius: 0;
        font-family: $clasica;
        font-size: $tamano_portada_boton;
        color: $blanco;
        font-weight: 500;
    }
    &__boton:hover {
        color: $blanco;
        background-color: $naranja;
    }
    &__redes {
        color: $gris_claro;
    }
    &__redes:hover {
        color: $blanco;
    }
}